.backBtn{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../icons/chevron-left.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
}