  h1{
    padding: 10px;
    margin: 0;
  }
  
  .companySection{
    width: 90vw;
    height: auto;
    margin: auto;
  }
  
  .companyInnerLeftSection{
    display: inline-block;
    width: 50%;
  }

  .companyInnerLeftSection h3{
    padding: 0;
    margin: 0;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .companyInnerLeftSection p{
    padding: 0;
    margin: 0;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .innerLeftRightSection{
    float:left;
    height: 100%;
    margin-right: 1em;
  }

  .innerLeftRightSection span{
    top: 1em;
    position: relative;
    font-size: 0.8em;
  }

  .companyInnerRightSection{
    display: inline-block;
    position: absolute;
    text-align: right;
    margin-top: 2%;
    right: 17%
  }

  .companyInnerRightSection p{
    font-weight: 400;
  }

  .enter{
    position: relative;
    float: right;
    width: 15px;
    height: 15px;
    background-image: url('../../icons/chevron-leftGold.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    top: 3.5em;
    transform: rotate(180deg);
  }