.btn{
    width: 50%;
    display: inline-block;
    height: 40px;
    background-color: #fff;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
}

.active{
    border-bottom: 2px solid #B59E56;
}

.titleAndHeader{
    position: absolute;
    top: 190px;
    left: 3%;
}

.companyTitle{
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: white;
}

.like{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../../icons/heartWhite.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0.6em;
    left: 85vw;
}


