@font-face{
  font-family: 'MyFont';
  src: url('FontBureau-MillerBannerLight.otf') format('opentype');
}

body{
  font-family: Verdana, Geneva, sans-serif;
}

#root{
  background-color: #fff;
  width: 100%;
}

.companyInnerSection h3, .companyDetails h2{
  font-size: 1.4em;
}

.companyInnerSection h3, .companyDetails h2{
  font-family: 'MyFont', sans-serif;
}